h1, h2{
    color : skyblue;
}
body{ 
    background-color: slategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

p q{
    color : palegoldenrod;
}


#movies li a{
    text-decoration-line: none;
}

#movies li a:hover{
    text-decoration-line: underline;
}