h1, h2{
    color : skyblue;
}
body{ 
    background-color: slategray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;    
}

p q{
    color : palegoldenrod;
}


#movies li a{
    text-decoration-line: none;
    color: maroon;
}

#movies li a:hover{
    text-decoration-line: underline;
}

#movies li dl dt{
    color : yellow;
}

p::first-letter{
    font-size: 1.5em;
}